@import "normalize.css";

* {
	box-sizing: border-box;
}

.app {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
}

.app-data {
	width: 50%;
	flex: 1 1 400px;
}

.app-data-input {
	width: 100%;
	height: 400px;
	padding: 20px;
	font-family: monospace;
	border: 2px solid rgba(68, 159, 219, 0.2);
    background-color: rgba(68, 159, 219, 0.1);
    outline: none;
    box-shadow: none;
    resize: vertical;
}

.app-data-errors {
	position: fixed;
    padding: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ff2d2d;
    color: #fff;
    text-align: center;
    opacity: 0;
    transition: .3s ease;
    translate: transform3d(0, 100px, 0);
}

.app-data-errors.has-error {
	opacity: .6;
	translate: transform3d(0, 0, 0);
}

.app-tree {
	width: 50%;
	flex: 1 0 700px;
	min-width: 700px;
	text-align: center;	
}