.node {
	cursor: pointer;
}

.node circle {
	fill: #fff;
	stroke: #449fdb;
	stroke-width: 3px;
}

.node text {
	font: 12px sans-serif;
}

.link {
	fill: none;
	stroke: rgba(68, 159, 219, 0.2);
	stroke-width: 2px;
}